{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Lista de Historiales de Clientes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for historial_cliente in historiales_clientes %}
                <tr>
                    <td>{{ historial_cliente.cliente.nombre }} {{ historial_cliente.cliente.apellido }}</td>
                    <td>{{ historial_cliente.fecha }}</td>
                    <td>{{ historial_cliente.descripcion }}</td>
                    <td>
                        <a href="{% url 'editar_historial_cliente' historial_cliente.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'eliminar_historial_cliente' historial_cliente.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_historial_cliente' %}" class="btn btn-success">Añadir Historial</a>
</div>
{% endblock %}
