{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Lista de Órdenes de Trabajo</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes_trabajo %}
                <tr>
                    <td>{{ orden.descripcion }}</td>
                    <td>{{ orden.cliente }}</td>
                    <td>{{ orden.fecha }}</td>
                    <td>
                        <a href="{% url 'editar_orden_trabajo' orden.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'eliminar_orden_trabajo' orden.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_orden_trabajo' %}" class="btn btn-success">Añadir Orden de Trabajo</a>
</div>
{% endblock %}
